html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.bar {
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: gold;
  position: fixed;
  border-radius: 2px;
  opacity: 0.9;
  align-items: center;
  z-index: 10;
  height: 80px;
}

h1 {
  text-align: center;
}

.diary {
  padding-top: 2rem;
  padding-bottom: 7rem;
  background-color: gold;
}

.notice {
  text-align: center;
}

.box {
  border-radius: 25px;
  width: 70%;
  background-color: white;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.box:hover {
  transform: scale(1.1);
}
.box h2 {
  text-align: center;
}
.box h4 {
  color: white;
  transition: 0.3s;
}
.box h4:hover {
  color: black;
}

.item {
  text-align: center;
  background-color: gold;
  margin: auto;
  border-radius: 15px;
  transition: 0.2s;
  height: auto;
}

.item:hover {
  transform: scale(1.1);
  background-color: black;
}

.item h3 {
  color: black;
}

.item h3:hover {
  color: white;
}
a {
  text-decoration: none;
}

.colorchange {
  background: linear-gradient(gold, black);
  height: 300px;
}

.photo {
  background-color: black;
  padding-bottom: 150px;
  text-align: center;
}

.photo img {
  width: 500px;
  max-width: 100%;
}
